<!-- <div *ngIf="juegos && juegos.length > 0" class="carousel-container">

  <div class="carousel-overlay">
  <div class="carousel-info" *ngIf="juegos[selectedIndex]">
    <h3>{{ juegos[selectedIndex].gamename }}</h3>
    <p>Precio: {{ juegos[selectedIndex].price === 0 ? 'FREE' : (juegos[selectedIndex].price | currency:'USD') }}</p>
    <p *ngIf="juegos[selectedIndex].release_date">Lanzado: {{ juegos[selectedIndex].release_date | date }}</p>
  </div>
</div>

        <img 
              [src]="juego.image_path ? juego.image_path : 'https://picsum.photos/250/140'" alt="{{ juego.gamename }}"
              [ngClass]="{'image-active': selectedIndex === i}"
              (click)="verDetalle(juego.id)">

        <div *ngIf="indicators" class="carousel-dot-container">
        <span *ngFor="let dot of juegos; let i=index"
              class="dot"
              [ngClass]="{'active': selectedIndex === i}"
              (click)="selectGameImg(i); $event.stopPropagation()"
              ></span>
        </div>

        <button *ngIf="controls" class="btn-carousel btn-prev" (click)="onPrevClick()">
          <i class="fas fa-arrow-circle-left icon-carousel icon-prev"></i>
        </button>
        <button *ngIf="controls" class="btn-carousel btn-next" (click)="onNextClick()">
          <i class="fas fa-arrow-circle-right icon-carousel icon-next"></i>
        </button>
</div> -->