.header-agenda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 8%;
  padding-right: 7%;

  h2 {
    margin: 0;
  }


  button[mat-raised-button] {
    margin-right: 1.5em;

    mat-icon {
      margin-right: 8px;
    }
  }
}

.filtro-crud {
  margin-top: 4vh;
  margin-bottom: 4vh;
}