<div class="post-tile mat-elevation-z2">
  
<div class="image-wrapper">
    <img [src]="trabajo.fotos[currentImageIndex].image_path | serverUrl" 
         class="tile-image" 
         loading="lazy"
         alt="Tatuaje">
         
    <ng-container *ngIf="trabajo.fotos.length > 1">
        
        <button class="nav-btn prev" (click)="prevImage($event)">
            <mat-icon>chevron_left</mat-icon>
        </button>

        <button class="nav-btn next" (click)="nextImage($event)">
            <mat-icon>chevron_right</mat-icon>
        </button>

        <div class="photo-counter">
            {{ currentImageIndex + 1 }}/{{ trabajo.fotos.length }}
        </div>

    </ng-container>
  </div>

  <div class="tile-overlay">
    
    <div class="overlay-header" *ngIf="showArtistInfo"  (click)="irAlPerfil($event)">
      <div class="artist-pill">
        <img [src]="trabajo.tatuador?.profile_photo | serverUrl" class="mini-avatar">
        <span>{{ trabajo.tatuador?.username }}</span>
      </div>
    </div>

    <div class="overlay-footer">
      <div class="text-content">
         <p class="desc" *ngIf="trabajo.descripcion">{{ trabajo.descripcion | slice:0:40 }}...</p>
      </div>

      <button mat-icon-button class="btn-like" 
              (click)="onLike($event)" 
              [class.liked]="isLiked">
        <mat-icon>{{ isLiked ? 'favorite' : 'favorite_border' }}</mat-icon>
      </button>
    </div>

  </div>
</div>