<div class="captcha-container">
  <mat-form-field appearance="outline" class="col-12">
    <mat-label>{{ captchaQuestion }}</mat-label>
    <input matInput [formControl]="captchaControl" placeholder="Ingrese el resultado" (input)="validateCaptcha()" />
    <button mat-icon-button matSuffix type="button" (click)="generateCaptcha()" aria-label="Nuevo captcha">
      <mat-icon>refresh</mat-icon>
    </button>
    <mat-error *ngIf="captchaControl.invalid && captchaControl.touched">
      Debes resolver el captcha.
    </mat-error>
  </mat-form-field>

  <ngx-recaptcha2 [siteKey]="'6LdI2OArAAAAAMb7UQLaXSpTeFHsIRZhinviVWqy'" [useGlobalDomain]="
  false"></ngx-recaptcha2>
</div>