<mat-card class="crud-delete-dialog">
  <mat-card-header>
    <mat-card-title
      >
      <mat-icon color="warn" class="icon">warning</mat-icon>
      Eliminar Ticket</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content">
    <p class="confirmation-text">
      ¿Estás seguro de que deseas eliminar el ticket
      <strong>"{{ supportTicketName }}"</strong>?
      <br />
      Esta acción no se puede deshacer.
    </p>
  </mat-card-content>

  <mat-card-actions align="end" class="actions">
    <button mat-stroked-button color="primary" (click)="onCancel()">
      Cancelar
    </button>
    <button mat-flat-button color="warn" (click)="deleteSupportTicket()">
      Eliminar
    </button>
  </mat-card-actions>
</mat-card>
