<form [formGroup]="registerForm" (ngSubmit)="register()">
  <mat-card class="register-card">
    <mat-card-header class="register-card-header">
      <mat-card-title class="register-card-title">
        <mat-icon style="vertical-align: middle;">person_add</mat-icon>
        &nbsp;CREA TU CUENTA
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- Usuario -->
      <div class="row">
        <mat-form-field appearance="outline" class="col-12 col-md-6">
          <mat-label>Usuario</mat-label>
          <input matInput formControlName="username" placeholder="Ingrese su usuario" />
        </mat-form-field>

        <!-- Fecha de nacimiento -->
        <mat-form-field appearance="outline" class="col-12 col-md-6">
          <mat-label>Nacimiento</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="birth_date" [max]="today"
            (input)="onDateInput($event)" placeholder="dd/mm/yyyy" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="row">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>E-Mail</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Ingrese su correo electrónico" required />
          <mat-error *ngIf="registerForm.get('email')?.hasError('required')">
            El correo electrónico es requerido.
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.hasError('email')">
            Formato de correo electrónico inválido.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Contraseña + Confirmar -->
      <div class="row" style="margin-top: 2%;">
        <!-- Contraseña -->
        <mat-form-field appearance="outline" class="col-12 col-md-6 password-field password-field1">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" />
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
            [attr.aria-label]="'Mostrar/ocultar contraseña'" [attr.aria-pressed]="!hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>

          <!-- Errores de contraseña -->
          <mat-error *ngIf="registerForm.get('password')?.hasError('required')">
            La contraseña es obligatoria.
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">
            Al menos 8 caracteres.
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('noUpperCase')">
            Al menos una mayúscula.
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.hasError('noNumber')">
            Al menos un número.
          </mat-error>
        </mat-form-field>


        <!-- Confirmar contraseña -->
        <mat-form-field appearance="outline" class="col-12 col-md-6 password-field">
          <mat-label>Confirma contraseña</mat-label>
          <input matInput formControlName="password2" [type]="hide ? 'password' : 'text'" />
          <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
            [attr.aria-label]="'Mostrar/ocultar contraseña'" [attr.aria-pressed]="!hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>


          <!-- Errores de confirmación -->
          <mat-error *ngIf="password2?.hasError('required')">
            Repetir la contraseña.
          </mat-error>
          <mat-error *ngIf="password2?.hasError('passwordsMismatch')">
            Las contraseñas deben coincidir.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Panel opcional -->
      <div style="margin-top: 5%;">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Información adicional
            </mat-expansion-panel-header>

            <div class="row">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="realname" placeholder="Nombre" />
              </mat-form-field>
            </div>

            <div class="row">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Apellido</mat-label>
                <input matInput formControlName="surname" placeholder="Apellido" />
              </mat-form-field>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </mat-card-content>

    <mat-card-actions class="register-card-actions">
      <button mat-raised-button color="primary" type="submit" class="register-button" [disabled]="registerForm.invalid">
        Registrarse
      </button>
    </mat-card-actions>

    <div class="already-account-text">
      ¿Ya tenés cuenta?
      <a (click)="goToLogin()" class="login-link">Iniciar sesión</a>
    </div>
  </mat-card>
</form>