<mat-dialog-content class="dialog-container">
  <div class="icon-wrapper" [ngClass]="data.type">
    <mat-icon class="dialog-icon">
      {{ data.type === 'error' ? 'error_outline' : 'check_circle_outline' }}
    </mat-icon>
  </div>

  <div class="dialog-text">
    <h2 class="dialog-title">
      {{ data.title || (data.type === 'error' ? 'Error' : 'Éxito') }}
    </h2>
    <p class="dialog-message">{{ data.message }}</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" (click)="onClose()">Cerrar</button>
</mat-dialog-actions>