<div>

  <div class="title-crud">
    <h3>Tickets</h3>
  </div>

  <div class="row filtroCrud">

    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> FILTROS </mat-panel-title>
        </mat-expansion-panel-header>

        <form #filterForm="ngForm">
          <div class="row">
            <mat-form-field appearance="outline" class="col-12 col-md-4">
              <mat-label>Usuario</mat-label>
              <input [(ngModel)]="filterUsuario" matInput type="text" name="usuarioTicket" minlength="1" />
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-12 col-md-4">
              <mat-label>Fecha carga</mat-label>
              <input [(ngModel)]="filterFechaCarga" matInput [matDatepicker]="picker1" name="fecha_carga"
                (input)="onDateInput($event)" placeholder="dd/mm/yyyy" />
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-12 col-md-4">
              <mat-label>Estado</mat-label>
              <mat-select [(ngModel)]="filterEstadoTicket" name="status">
                <mat-option [value]="'true'">Resuelto</mat-option>
                <mat-option [value]="'false'">Pendiente</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="row justify-content-end mb-2">
            <div col-12 col-md-3 d-flex justify-content-between>
              <button class="col-1" mat-button type="button" (click)="resetFiltro()"
                style="margin-right: 1%;">Limpiar</button>
              <button class="col-1" mat-raised-button color="primary" (click)="aplicarFiltro()">Buscar</button>
            </div>
          </div>
        </form>



      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="tabla-crud normal-table row">
    <table mat-table [dataSource]="filteredTickets" class="mat-elevation-z8">
      <!-- ID  -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">ID</th>
        <td mat-cell *matCellDef="let row" style="width: 10%; text-align: center;">{{ row.id }}</td>
      </ng-container>

      <!--Fecha de carga-->
      <ng-container matColumnDef="fechaCarga">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;">Fecha Carga</th>
        <td mat-cell *matCellDef="let row" style="width: 20%; text-align: center;">{{
          row.creationtimestamp | date:
          'dd/MM/yyyy HH:mm' }}</td>
      </ng-container>

      <!-- User -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef style="width: 30%;">Usuario</th>
        <td mat-cell *matCellDef="let row" style="width: 30%; text-align: center;">{{ row.creationuser }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef style="width: 20%;">Estado</th>
        <td mat-cell *matCellDef="let row" style="width: 20%; text-align: center;">
          {{ row.status === 'true' ? 'RESUELTO' : 'PENDIENTE' }}

        </td>
      </ng-container>

      <!--  Acciones -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">Acciones</th>
        <td mat-cell *matCellDef="let row" style="width: 10%; text-align: center;">
          <button class="showDetails" mat-icon-button color="primary" (click)="showDetails(row.id)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openEditDialog(row.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteDialog(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>