.filtroCrud {
  padding: 0px 9%;
}

@media (max-width: 768px) {
  .tabla-crud {
    overflow-x: auto;
    padding-left: 7%;
    padding-right: 7%;
  }

  .mat-column-fechaCarga {
    min-width: 140px;
  }



}