.theme-icon {
  font-size: 24px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

button:hover .theme-icon {
  transform: rotate(20deg) scale(1.1);
}

/* Ejemplo de estilos de modo oscuro */
body.dark-theme {
  background: #121212;
  color: white;
}

button {
  transition: transform 0.3s ease;
  &:active {
    transform: rotate(180deg);
  }
}