<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>

  <mat-select 
    *ngIf="multiple" 
    [value]="valueMultiple" 
    (selectionChange)="onValueChange($event.value)" 
    multiple>
    
    <mat-option *ngIf="placeholderAll" [value]="''">
      {{ placeholderAll }}
    </mat-option>

    <mat-option *ngFor="let option of options" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>

  <mat-select 
    *ngIf="!multiple" 
    [value]="valueSingle" 
    (selectionChange)="onValueChange($event.value)">
    
    <mat-option *ngIf="placeholderAll" [value]="''">
      {{ placeholderAll }}
    </mat-option>

    <mat-option *ngFor="let option of options" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>
</mat-form-field>
