.calendario {
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  .weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: center;
    background: #f3f3f3;
    padding: 5px 0;
  }

  .days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background: #ddd;
  }

  .day {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .day:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }
}
