<div class="calendario">
  <div class="header">
    <button (click)="prevMonth()">⬅</button>
    <h2>{{ currentDate | date:'MMMM yyyy' }}</h2>
    <button (click)="nextMonth()">➡</button>
  </div>

  <div class="weekdays">
    <div *ngFor="let d of ['Lun','Mar','Mié','Jue','Vie','Sáb','Dom']">{{d}}</div>
  </div>

  <div class="days">
    <ng-container *ngFor="let week of weeks">
      <ng-container *ngFor="let day of week">
        <div class="day" [class.empty]="!day">
          {{ day ? day.getDate() : '' }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
