.calendario {
  max-width: 500px;
  margin: auto;
  text-align: center;
  font-family: Arial, sans-serif;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  button{
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .weekdays{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: center;
    background: #f3f3f3;
    padding: 5px 0;
  }

  .days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background: #ddd;
  }

  .day {
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
  }

  .day:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .day.other-month{
    color: #bbb;
  }

  .day.selected{
    background: #007bff;
    color: white;
    border-radius: 25%;
  }

  .confirm-section{
    margin-top: 15px;
    text-align: center;
  }

  .btn-confirmar{
    background: rgb(7, 42, 88);
    border: 1px solid;
    border-color: black;
    color: white;
    padding: 8px 16px;
    border-radius: 25%;
    cursor: pointer;
  }

  .confirmed{
    margin-top: 15px;
    padding: 10px;
    background: #e9ffe9;
    text-align: center;
  }
}
