<div class="container">
  <div class="titulo-soporte">
    <h2>Soporte de DMC</h2>
    <mat-icon class="icon">support_agent</mat-icon>
  </div>
  <p>¿En qué podemos ayudarte?</p>
  <p>¡Generá un ticket de soporte y te responderemos a la brevedad!</p>

  <mat-divider></mat-divider>
  <div class="ticket-container">
    <button mat-raised-button class="add-btn" color="primary" aria-label="Añadir" (click)="openCreateDialog()"
      style="background-color: #bc71fe; margin-top: 1vh;">
      <span>Ticket de soporte</span>
      <mat-icon inline="true">add</mat-icon>
    </button>
  </div>
</div>