
    .container {
      margin-top: 1.5em;
      text-align: center;
      background-color: #fff;
      padding: 40px;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      max-width: 400px;
      width: 90%;
    
    /*.icon {
    font-size: 80px;
    margin-bottom: 20px;
    }*/

    h2 {
      font-size: 24px;
      color: #444;
    }
    p {
      color: #666;
      font-size: 16px;
      margin: 10px 0 20px;
    }
}