<mat-card class="dialog-card">
  <mat-card-header>
    <mat-card-title>Editar Ticket de Soporte</mat-card-title>
    <mat-card-subtitle>Cambiar el estado del ticket</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form #supportForm="ngForm" class="form-grid">
      <div class="row">
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Estado del Ticket</mat-label>
          <mat-select [(ngModel)]="supportTicket.status" name="status" required>
            <mat-option [value]="true">Resuelto</mat-option>
            <mat-option [value]="false">Pendiente</mat-option>
          </mat-select>
        </mat-form-field>
      </div>


    </form>
  </mat-card-content>

  <mat-card-actions class="action-buttons">
    <button mat-stroked-button color="warn" type="button" (click)="cancel()">
      Cancelar
    </button>

    <button mat-raised-button color="primary" type="submit" (click)="onUpdateSupportTicket()"
      [disabled]="supportForm.invalid">
      Actualizar
    </button>
  </mat-card-actions>
</mat-card>