@use '../../../../../assets/styles/variables' as *;

.upload-container {
  padding-top: 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.hint-text {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 16px;
}

/* --- GRILLA RESPONSIVA --- */
.previews-grid {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

/* Item individual */
.preview-item {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid #eee;
  }


  .btn-remove-custom {
    position: absolute;
    top: -6px;
    right: -6px;

    width: 24px;
    height: 24px;
    border-radius: 50%;

    background-color: #f44336;
    color: white;
    border: 2px solid white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    z-index: 10;

    transition: transform 0.2s;

    mat-icon {
      font-size: 14px;
      width: 14px;
      height: 14px;
      font-weight: bold;
    }

    &:hover {
      transform: scale(1.1);
      background-color: #d32f2f;
    }
  }
}

/* Botón Agregar */
.add-more-box {
  width: 80px;
  height: 80px;
  border: 2px dashed #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #777;
  background-color: #fafafa;
  transition: all 0.2s;

  &:hover {
    border-color: $main-color;
    color: $main-color;
    background-color: #e8eaf6;
  }
}

/* Placeholder Grande */
.placeholder {
  border: 2px dashed #ccc;
  padding: 40px 20px;
  border-radius: 12px;
  cursor: pointer;
  color: #777;
  margin-bottom: 20px;
  background-color: #fafafa;
  transition: background-color 0.2s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  mat-icon {
    font-size: 48px;
    width: 48px;
    height: 48px;
    color: #999;
    margin-bottom: 10px;
  }

  h3 {
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: #444;
  }

  p {
    margin: 4px 0 0;
    font-size: 0.8rem;
    color: #888;
  }

  &:hover {
    background-color: #f0f0f0;
    border-color: #999;
  }
}

.full-width {
  width: 100%;
}

.mt-3 {
  margin-top: 1rem;
}


// Botones footer
.create-button {
  padding: 0 24px;
}

.btn-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  mat-icon {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin: 0;
  }
}


@media (max-width: 400px) {
  .previews-grid {
    justify-content: flex-start;
  }

  .preview-item,
  .add-more-box {
    width: 70px;
    height: 70px;
  }
}