.option-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #e5e5e5;
  border-radius: 10px;
  background: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  gap: 0.5rem;

  .mat-icon {
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    transition: all 0.3s ease;
  }

  .option-label {
    font-size: 0.8rem;
    color: #666;
    text-align: center;
  }

  &:hover {
    border-color: #000;
    background-color: #393e31;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    mat-icon {
      transform: scale(1.1);
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.tooltip-text {
  position: absolute;
  bottom: 10px;
  opacity: 0;
  transform: translateY(10px);
  font-size: 13px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 3px 8px;
  border-radius: 8px;
  transition: all 0.3s ease;
  pointer-events: none;
  white-space: nowrap;
}

.option-card:hover .tooltip-text {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .option-card {
    width: 40vw;
    height: 40vw;
    margin: 2%;

    .mat-icon {
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
    }

    .option-label {
      font-size: 0.8rem;
    }
  }

  .tooltip-text {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20%;
    gap: 7.5rem;
    padding-bottom: 30rem;
  }

  .option-card {
    flex: 1;
    width: 150px;
    aspect-ratio: 1;
    gap: 1rem;

    .option-label {
      font-size: 0.9rem;
    }

    .mat-icon {
      font-size: 4rem;
    }
  }
}
