<div class="row" *ngIf="userLoginOn">
  <button class="option-card">
    <mat-icon aria-label="Crear reserva de sesión">
      <span class="material-symbols-outlined">assignment_add</span>
    </mat-icon>
    <span class="tooltip-text">Crear reserva</span>
  </button>

  <button class="option-card">
    <mat-icon aria-label="Mis reservas">
      <span class="material-symbols-outlined">assignment</span>
    </mat-icon>
    <span class="tooltip-text">Mis reservas</span>
  </button>

  <button class="option-card">
    <mat-icon aria-label="Favoritos">
      <span class="material-symbols-outlined">star</span>
    </mat-icon>
    <span class="tooltip-text">Favoritos</span>
  </button>

  <button class="option-card" routerLink="/soporte">
    <mat-icon aria-label="Soporte">
      <span class="material-symbols-outlined"> support_agent </span>
    </mat-icon>
    <span class="tooltip-text">Soporte</span>
  </button>
</div>
