<div>

  <div class="title-crud">
    <h3>Usuarios</h3>
  </div>

  <div class="row filtroCrud">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> FILTROS </mat-panel-title>
        </mat-expansion-panel-header>

        <form #filterForm="ngForm" (ngSubmit)="aplicarFiltro()">

          <div class="row mb-3">
            <!-- Filtro por Rol -->
            <mat-form-field appearance="outline" class="col-6">
              <mat-label>Rol</mat-label>
              <mat-select [(ngModel)]="filterRolDesc" name="rol">
                <mat-option value="Administrador">Administrador</mat-option>
                <mat-option value="Moderador">Moderador</mat-option>
                <mat-option value="UsuarioTienda">Usuario Tienda</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
              <mat-label>Username</mat-label>
              <input matInput [(ngModel)]="filterUsername" name="username" placeholder="Buscar por username">
            </mat-form-field>
          </div>
          <div class="row mb-3">

            <!-- Filtro por Email -->
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput [(ngModel)]="filterEmail" name="email" placeholder="Buscar por email">
            </mat-form-field>
          </div>

          <!-- Filtro por fecha de nacimiento-->
          <div class="row mb-3">
            <h4 class="col-12 mb-2">Fecha de nacimiento</h4>

            <mat-form-field appearance="outline" class="col-6">
              <!-- Label para pantallas grandes -->
              <mat-label class="d-none d-md-block">Fecha desde</mat-label>
              <!-- Label para pantallas chicas -->
              <mat-label class="d-block d-md-none">Desde</mat-label>
              <input matInput [matDatepickerFilter]="filterDesde" [matDatepicker]="pickerDesde" [max]="today"
                [(ngModel)]="filterFechaNacDesde" name="fechaDesde" (input)="onDateInput($event)"
                placeholder="dd/mm/yyyy" />
              <mat-datepicker-toggle matIconSuffix [for]="pickerDesde"></mat-datepicker-toggle>
              <mat-datepicker #pickerDesde></mat-datepicker>

            </mat-form-field>

            <mat-form-field appearance="outline" class="col-6">
              <mat-label class="d-none d-md-block">Fecha hasta</mat-label>
              <mat-label class="d-block d-md-none">Hasta</mat-label>
              <input matInput [matDatepickerFilter]="filterHasta" [matDatepicker]="pickerHasta" [max]="today"
                [(ngModel)]="filterFechaNacHasta" name="fechaHasta" (input)="onDateInput($event)"
                placeholder="dd/mm/yyyy" />
              <mat-datepicker-toggle matIconSuffix [for]="pickerHasta"></mat-datepicker-toggle>
              <mat-datepicker #pickerHasta></mat-datepicker>

            </mat-form-field>
          </div>

          <div class="row justify-content-end mb-2">
            <div col-12 col-md-3 d-flex justify-content-between>
              <button class="col-1" mat-button type="button" (click)="resetFiltro()"
                style="margin-right: 1%;">Limpiar</button>
              <button class="col-1" mat-raised-button color="primary" (click)="aplicarFiltro()">Buscar</button>
            </div>
          </div>

        </form>

      </mat-expansion-panel>
    </mat-accordion>
  </div>




  <div class="tabla-crud normal-table">

    <table mat-table [dataSource]="filteredUsuarios" class="mat-elevation-z8">
      <!-- ID  -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;">ID</th>
        <td mat-cell *matCellDef="let row" style="width: 10%; text-align: center;">{{ row.idUser }}</td>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef style="width: 80%;">Nombre</th>
        <td mat-cell *matCellDef="let row" style="width: 80%; text-align: center;">
          {{ row.username }}
        </td>
      </ng-container>

      <!--  Acciones -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 10%; text-align: center;">Acciones</th>
        <td mat-cell *matCellDef="let row" style="width: 10%; text-align: center;">
          <button mat-icon-button color="primary" (click)="openEditDialog(row.idUser)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>