<div class="mobile-container">
  
  <!-- Header -->
  <header class="header">
    <div class="header-left">
      <div class="avatar">L</div>
      <span class="brand">{{ nombreUsuario }}</span>
    </div>
    
  </header>

  
  <!-- Pantalla 2: Listado de Tatuadores -->
  <div class="screen" [class.active]="step === 'listado'">
    <button class="back-button" (click)="goBack()">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </button>

    <div class="content">
      
      <div class="tatuadores-list">
        <div 
          class="tatuador-item" 
          *ngFor="let reserva of reservas"
          (click)="selectTatuador(reserva)"
        >
          <img [src]="reserva.imagen" [alt]="reserva.nombre" class="imgFoto" style="height: 200px;">
          <div class="reserva-info">
            <h3>{{ reserva.nombre }}</h3>
            <p>{{ reserva.fecha }}</p>
            <p>#{{ reserva.id }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pantalla 3: Selector Fecha y Horario -->
  <div class="screen" [class.active]="step === 'horarios'">
    <button class="back-button" (click)="goBack()">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </button>

    <div class="content" *ngIf="selectedTatuador">
    
      <h2 class="screen-title" style="margin-top: 2rem;">Confirmar turno</h2>

      <div class="horarios-section">
        <button class="btnaceptar" (click)="confirmarReserva()">Aceptar</button>
        <button class="btnrechazar" (click)="confirmarReserva()">Rechazar</button>
        
      </div>

      
    </div>
  </div>

  <!-- Pantalla 4: Confirmación -->
  <div class="screen" [class.active]="step === 'confirmacion'">
    <button class="back-button" (click)="goBack()">
      <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
    </button>

    <div class="content confirmation-content">
      <h2 class="screen-title">Turno Aceptado</h2>

      <div class="confirmation-icon">
        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3">
          <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
          <polyline points="22 4 12 14.01 9 11.01"></polyline>
        </svg>
      </div>

      
    </div>
  </div>
