//colores principales
$main-color: #393e31;
$main-header-color: #393e31;
$side-nav-primary-color: #414e3b;
$section-title-main-color: #5d6a58;
$gral-box-shadow: #2e2e2e36;
$nav-bar-background-color: #393e31;

:root,
.light-theme {
  //body
  --body-background-color: #ffffff;
  --bs-body-bg: #f5f5f5;
  --title-text-color: #393e31;

  //menu
  --menu-text-color: #f5f5f5;
  --menu-arrow-color: #ccd0d0;
  --menu-open-button: #393e31;

  //unclassified colors
  --light-gray-background-color: #f5f5f5;
  --white-color: #ffffff;
  --text-color: #414e3b;
  --button-text-color: #f5f5f5;
  --input-text-color: #f5f5f5;
  --line-divider: #ccd0d0;

  //dropdown component
  --dropdown-label-txt-color: #393e31;
  --dropdown-txt-arrow-inside-color: #7a7e73;

  //Titulos para cada listado gestionar sistema
  --title-crud-h3: #1c1c1c;

  //carousel
  --carousel-dot-color: #5d6a58;
  --carousel-arrow-color: #393e31;

  //game-item
  --game-card-bg-color: #eeeeee;
  --game-card-border-color: #dadada;
  --game-card-title-color: #1c1c1c;
  --game-card-subtitle-color: #515046;
  --game-card-price-txt-color: #b0a881;

  --game-item-border-bottom: 1px #393e31 solid;
  --game-item-border-bottom-hover: 2px #5d6a58 solid;
  --game-item-bg-color: #f5f5f5;
  --game-list-item-titulo: #393e31;
  --game-list-item-price: #b0a881;

  //biblioteca de juegos
  --titulo-bilbioteca-juegos: #393e31;
  --sub-titulo-bilbioteca-juegos: #7a7e73;

  //whishlist
  --titulo-whish-list-section: #393e31;

  //cart
  --cart-title-h2-color: #1c1c1c;
  --cart-total-price-color: #393e31;
  --cart-card-bg-color: #f5f5f5;
  --cart-card-title-txt-color: #414e3b;
  --cart-unfilled-txt-msg: #7a7e73;
  --cart-unit-price-txt-color: #393e31;

  //footer
  --footer-text-color: #ccd0d0;
}

.dark-theme {
  //body
  --bs-body-bg: #1c1c1c;
  --body-background-color: #1e1e1e;
  --title-text-color: #b0a881;

  //menu
  --menu-text-color: #ccd0d0;
  --menu-arrow-color: #ccd0d0;
  --menu-open-button: #393e31;

  //unclassified colors
  --light-gray-background-color: #1e1e1e;
  --white-color: #121212;
  --text-color: #b0a881;
  --button-text-color: #b0a881;
  --input-text-color: #b0a881;
  --line-divider: #515046;

  //dropdown component
  --dropdown-label-txt-color: #ccd0d0;
  --dropdown-txt-arrow-inside-color: #b0a881;

  //Titulos para cada listado gestionar sistema
  --title-crud-h3: #f5f5f5;

  //carousel
  --carousel-dot-color: #555568;
  --carousel-arrow-color: #b0a881;

  //game-item
  --game-card-bg-color: #121212;
  --game-card-border-color: #3e4046;
  --game-card-title-color: #ccd0d0;
  --game-card-subtitle-color: #7a7e73;
  --game-card-price-txt-color: #b0a881;

  --game-item-border-bottom: 1px #b0a881 solid;
  --game-item-border-bottom-hover: 2px #5d6a58 solid;
  --game-item-bg-color: #393e31;
  --game-list-item-titulo: #f5f5f5;
  --game-list-item-price: #b0a881;

  //biblioteca de juegos
  --titulo-bilbioteca-juegos: #ccd0d0;
  --sub-titulo-bilbioteca-juegos: #7a7e73;

  //whishlist
  --titulo-whish-list-section: #ccd0d0;

  //cart
  --cart-title-h2-color: #ccd0d0;
  --cart-total-price-color: #b0a881;
  --cart-card-bg-color: #2a2a2a;
  --cart-card-title-txt-color: #ccd0d0;
  --cart-unfilled-txt-msg: #7a7e73;
  --cart-unit-price-txt-color: #b0a881;

  //footer
  --footer-text-color: #7a7e73;
}