<mat-toolbar class="footer">
  <div class="footer-content">
    <div class="footer-links">
      <a href="#">Términos y condiciones</a>
      <a href="#">Política de privacidad</a>
      <a href="/soporte">Soporte</a>
      <a href="#">Contacto</a>
    </div>

    <div style="text-align: center;">
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin"></i>
      </a>
    </div>

  </div>
</mat-toolbar>